
@{
    ViewBag.Title = "Exercises";
}
<style>
    div{
        text-align: center;
    }
    #col1 div {
        outline:solid 1px aqua;
    }
    #col2 div{
        outline:dashed 2px black;
    }
    #col3 div{
        outline: 4px solid green;
    }
</style>
<h2>Exercises</h2>
<!-- First BS Grid -->
<div class="container">
    <div class="col-md-4" id="col1">
        <div class="row">
            <div class="col-md-4"><h1>4</h1></div>
            <div class="col-md-4"><h1>4</h1></div>
            <div class="col-md-4"><h1>4</h1></div>
        </div>
        <div class="row">
            <div class="col-md-6"><h1>6</h1></div>
            <div class="col-md-6"><h1>6</h1></div>
        </div>
        <div class="row">
            <div class="col-md-12"><h1>12</h1></div>
        </div>
    </div>
    <div class="col-md-4" id="col2">
        <div class="row">
            <div class="col-md-3"><h3>3</h3></div>
            <div class="col-md-3"><h3>3</h3></div>
            <div class="col-md-3"><h3>3</h3></div>
            <div class="col-md-3"><h3>3</h3></div>
        </div>
    </div>
    <div class="col-md-4" id="col3">
        <div class="row">
            <div class="col-md-8"><h6>8</h6></div>
            <div class="col-md-4"><h6>4</h6></div>
        </div>
        <div class="row">
            <div class="col-md-6"><h6>6</h6></div>
            <div class="col-md-3"><h6>3</h6></div>
            <div class="col-md-3"><h6>3</h6></div>
        </div>
        <div class="row">
            <div class="col-md-2"><h6>2</h6></div>
            <div class="col-md-3"><h6>3</h6></div>
            <div class="col-md-2"><h6>2</h6></div>
            <div class="col-md-3"><h6>3</h6></div>
            <div class="col-md-2"><h6>2</h6></div>
        </div>
        <div class="row">
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
            <div class="col-md-1"><h6>1</h6></div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- Second BS Grid -->
<div class="container">
    <div class="row">
        <div class="col-md-6">1</div>
        <div class="col-md-6">2</div>
    </div>
    <div class="row">
        <div class="col-md-12"><h2>H2</h2></div>
    </div>
    <div class="row">
        <div class="col-md-2">3</div>
        <div class="col-md-2">4</div>
        <div class="col-md-2">5</div>
        <div class="col-md-2">6</div>
        <div class="col-md-2">7</div>
        <div class="col-md-2">8</div>
    </div>
    <div class="row">
        <div class="col-md-12"><h3>H3</h3></div>
    </div>
    <div class="row">
        <div class="col-md-1">9</div>
        <div class="col-md-1">10</div>
        <div class="col-md-1">11</div>
        <div class="col-md-1">12</div>
        <div class="col-md-1">13</div>
        <div class="col-md-1">14</div>
        <div class="col-md-1">15</div>
        <div class="col-md-1">16</div>
        <div class="col-md-1">17</div>
        <div class="col-md-1">18</div>
        <div class="col-md-1">19</div>
        <div class="col-md-1">20</div>
    </div>
    <div class="row">
        <div class="col-md-4"><h4>H4</h4></div>
        <div class="col-md-4"><h4>H4</h4></div>
        <div class="col-md-4"><h4>H4</h4></div>
    </div>
    <div class="row">
        <div class="col-md-4">21</div>
        <div class="col-md-4">22</div>
        <div class="col-md-4">23</div>
    </div>
</div>